@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Palanquin+Dark:wght@400;500;600;700&display=swap');


body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

:root {
  --primary-color: #1BA595;   /*(teal);*/
  --secondary-color: 	#FACE3A; /*(yellow)*/
  --accent1-color: #AF916E; /*(brown)*/
  --accent2-color:  #DOC9BE; /*(gray)*/
  --accent3-color:  #F3EEEO; /*(natural)*/

  --heading-font: 'Palaquin Dark', sans serif;
  --paragraph-font:'IBM Plex Serif', serif;

  --nav-background-color: var(--accent1-color);
  --nav-link-color: var(--primary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  /*text-decoration: none;*/
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
